# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=add_your_mongodb_connection_string_here

# Authentication
JWT_SECRET= add_your_jwt_secret_here

# Redis
REDIS_URL=redis://localhost:6379

# Client
CLIENT_URL=http://localhost:5173

